.inputCont {
    display: flex;
    flex-direction: column;
}

.inputCont label {
    text-transform: uppercase;
}

.inputCont input {
    width: 25vw;
    border-radius: 8px;
    border-color: black;
}

.inputCont input[type=submit] {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

    .inputCont input[type=submit]:hover {
        transform: scale(1.01);
    }

    .inputCont input[type=submit]:active {
        box-shadow: inset 1px 1px 2px black;
    }

.inputCont label abbr {
    font-variant: none;
    text-decoration: none;
    margin-left: 3px;
}
