.formCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
}

.formCont form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.formCont h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
