@font-face {
    font-family: 'Indie Flower';
    src: url('IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf');
}

html {
    font-family: 'Open Sans';
}

body {
    background-image: url(imagens/background.png);
    background-position: center top;
    background-size: 100%;
}

span {
    text-decoration: underline;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #600000;
    padding: 1rem 0;
}

.navbar .active {
    opacity: 1;
}

.navbar-item a {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.7;
    text-decoration: none;
}

.navbar-item a:hover {
    transform: scale(1.1);
    opacity: 1;
}

.navbar-item img {
    max-width: 50px;
    margin-right: 1rem;
}



.hidden {
    display: none;
}

main {
    width: 75%;
    margin: 0 auto;
    font-weight: bold;
}

.secoes {
    margin: 2rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secoes:last-child {
    margin-bottom: 0;
}

.secoes h1, h2, h3, p  {
    margin-bottom: 2rem;
    letter-spacing: 1px;
    line-height: 32px;
}

.secoes .secao-titulo {
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

.secoes .secao-info {
    font-size: 21px;
    text-align: justify;
    margin-bottom: 3rem;
}

.secoes .secao-texto {
    font-size: 23px;
    font-style: italic;
}

.secoes .lista {
    width: 75%;
}

.secoes .lista .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secoes .lista .item-titulo {
    text-align: center;
    margin: 0 auto;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid black;
}

.secoes .lista .item-imagem {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
    transition: 0.2s;
    cursor: pointer;
}

.secoes .lista .item-imagem:hover {
    transform: scale(1.05);
}

.secoes .lista .item-texto {
    text-align: justify;
    font-size: 23px;
    transition: 0.5s;
    font-family: 'Indie Flower';
    font-weight: bold;
    margin-bottom: 1rem;
}

.secoes .lista .item-icone {
    width: 12%;
    margin-bottom: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

.secoes .lista .item-icone:hover {
    transform: scale(1.05);
}

.secoes .lista .item-icone:active {
    transform: scale(1.1);
}




@media(max-width: 767px) {
    main {
        width: 90%;
    }

    .navbar-item a {
        display: flex;
        flex-direction: column;
        font-size: 21px;
    }

    .navbar-item img {
        max-width: 70px;
        max-height: 42px;
        margin: 0 0 0.5rem 0;
    }

    .secoes .secao-titulo {
        font-size: 29px;
    }

    .secoes .secao-info {
        font-size: 17px;
        text-align: center;
    }

    .secoes .secao-texto {
        font-size: 17px;
        text-align: center;
    }

    .secoes .lista {
        width: 85%;
    }

    .secoes .lista .item-imagem {
        width: 100%;
    }

    .secoes .lista .item-texto {
        font-size: 20px;
        text-align: center;
    }

    .secoes .lista .item-titulo {
        font-size: 23px;
    }

    .secoes .lista .item-icone {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-item a {
        font-size: 27px;
    }

    .secoes .secao-titulo {
        font-size: 31px;
    }

    .secoes .secao-info {
        font-size: 19px;
    }
    
    .secoes .secao-texto {
        font-size: 19px;
    }

    .lista .item .item-imagem {
        width: 90%;
    }

    .secoes .lista .item-titulo {
        font-size: 25px;
    }

    .secoes .lista .item-icone {
        width: 20%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .lista .item .item-imagem {
        width: 80%;
    }
    .secoes .lista .item-icone {
        width: 15%;
    }
}
