main {
	background-color: #181414;
	padding: 3rem 0;
}

.nav-cor {
	background-color: #302c74 !important;
}

.cor-borda {
	border-color: white;
}

.menu-img {
	background-image: url("imgs/menu.png");
}

footer {
	background-color: #302c74;
}

.nav-container {
	width: 90vw;
}

.navbar-lista {
	width: 100%;
	justify-content: flex-end;
	letter-spacing: 1px;
}

.navbar-itens {
	display: flex;
	margin-right: 5rem;
}

.nav-margin {
	margin-right: 1rem;
}

.cadastro-login {
	display: flex;
}

.cor-texto {
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

	.cor-texto:hover {
		color: gray;
	}

.cor-brand {
	display: flex;
	align-items: center;
	color: white;
	font-size: 28px;
	padding: 0;
	width: 40%;
	cursor: pointer;
}

	.cor-brand:hover {
		color: gray;
	}

.brand-img {
	width: 15%;
	border-radius: 8px;
	margin-right: 2rem;
}

.main-container {
	background-color: #100c0c;
	width: 70vw;
	margin: 0 auto;
	color: white;
	border-radius: 8px;
	letter-spacing: 1px;
	padding: 2rem 3rem;
}

.main-titulo {
	font-weight: bold;
}

.main-texto {
	font-size: 19px;
}

.main-img {
	width: 75%;
	align-self: center;
}

.direitos {
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	margin-bottom: 0;
}

.redes-sociais {
	position: absolute;
	display: flex;
	margin: 0;
	left: 85%;
	align-items: center;
}

.footer-container {
	width: 85vw;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 0.8rem 0;
	align-items: center;
}

.tag-container {
	width: 70vw;
	margin: 0 auto;
}

.tag {
	display: inline-block;
	text-align: center;
	color: white;
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: #d81014;
	margin: 0;
	font-size: 18px;
}





.pokedex {
	margin-top: 2rem;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.pokedex li {
	width: 22%;
	margin: 0 4% 3rem 0;
}

	.pokedex li:nth-child(4n) {
		margin-right: 0;
	}

.pokedex li img {
	width: 100%;
	background-color: #302c44;
	border-radius: 8px;
}

.pokedex .numero {
	font-size: 12px;
	margin-bottom: 0.5rem;
}

.pokedex p {
	margin: 0;
	font-weight: bold;
}

.pokedex h2 {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-bottom: 1rem;
}

.pokedex .tipo {
	padding: 0.2rem 1rem;
	border-radius: 100px;
	font-size: 12px;
}

.grass {
	background-color: #80cc54;
}

.poison {
	background-color: #a03c9c;
}

.fire {
	background-color: #f07c3c;
}

.flying {
	background-color: #b08cec;
}

.water {
	background-color: #7094ec;
}

.bug {
	background-color: #789c3c;
}

.normal {
	background-color: #a8acac;
}






/*CELULAR*/
@media(max-width: 1024px) {
	main {
		padding: 2rem 0;
	}

	.brand-responsivo {
		display: none;
	}

	.cor-brand {
		width: 50%;
	}

	.brand-img {
		width: 50%;
	}

	.nav-divisao {
		border-bottom: 1px solid white;
	}
	
	.navbar-itens {
		flex-direction: column;
		margin: 0;
	}

	.nav-margin {
		margin: 0;
	}

	.cadastro-login {
		flex-direction: column;
	}

	.cor-texto {
		color: white;
		font-size: 19px;
		letter-spacing: 1px;
	}
	.cor-brand {
		color: white;
		font-size: 26px;
	}

	.main-container {
		width: 90vw;
		padding: 1rem 5vw 0;
	}

	.main-img {
		width: 100%;
		margin: 1rem 0;
	}

	.main-titulo {
		margin-bottom: 1rem !important;
		font-size: 20px;
	}

	.main-texto {
		font-size: 18px;
	}

	.titulo-absolute {
		position: static;
	}

	.main-container .sub-container {
		width: 100% !important;
	}

	.main-container .sub-container .main-titulo {
		padding: 0 !important;
	}

	.footer-container {
		flex-direction: column;
	}

	.direitos {
		margin-bottom: 1rem;
	}

	.redes-sociais {
		position: static;
		padding: 0;
	}

	.tag-container {
		width: 90vw;
	}

	.tag {
		font-size: 14px;
	}



	.pokedex {
		justify-content: center;
	}

	.pokedex li {
		width: 75%;
	}

	.pokedex .tipo {
		font-size: 15px;
	}
}




@media(min-width: 768px) and (max-width: 1279px) {
	.main-container {
		width: 75vw;
	}

	.brand-img {
		width: 25%;
	}

	.tag-container {
		width: 75vw;
	}

	.tag {
		font-size: 18px;
	}



	.pokedex {
		justify-content: flex-start;
	}

	.pokedex li {
		margin-right: 0;
		width: 45%;
	}

		.pokedex li:nth-child(2n) {
			margin-left: 10%;
		}
}




@media(min-width: 990px) and (max-width: 1279px) {
	.brand-img {
		width: 40%;
	}

	.brand-responsivo {
		display: none;
	}

	.nav-divisao {
		border: none;
	}

	.navbar-lista a {
		font-size: 18px;
	}

	.navbar-lista div {
		flex-direction: row;
	}

	.navbar-lista div:first-child {
		margin-right: 4rem;
	}

	.navbar-lista div li {
		margin-right: 1rem;
	}




	.main-container .pokedex li {
		width: 30%;
		margin: 0 5% 3rem 0;
	}

		.main-container .pokedex li:nth-child(3n) {
			margin-right: 0;
		}
}




@media(min-width: 1280px) {
	.titulo-absolute {
	position: absolute;
	top: 65%;
	}

	.sub-container {
		width: 75%;
	}
}
