body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(#F64A8A, #FDE6FA);
    font-family: 'Oswald', sans-serif;
}

main {
    text-align: center;
}

.titulo {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
    padding-top: 1rem;
    margin: 0 0 2rem 0;
}

.btn-container {
    position: relative;
    margin: 0 auto;
    width: 10%;
}

.btn-container div {
    padding: 0.8rem 0.5rem;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
}

    .btn-container div:hover {
        background-color: #323232;
}

.btn-container div a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.btn-aceito {
    margin-bottom: 1rem;
}

.btn-recuso {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .titulo {
        font-size: 28px;
    }

    .btn-container {
        width: 30%;
    }

    .btn-container div a {
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .titulo {
        font-size: 32px;
    }

    .btn-container {
        width: 20%;
    }

    .btn-container div a {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .titulo {
        font-size: 33px;
    }

    .btn-container {
        width: 15%;
    }

    .btn-container div a {
        font-size: 21px;
    }
}
