@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	--font-family: 'Odibee Sans', cursive;

	--bg-color: #0AA1DD;
	--primary-color: #E8F9FD;
}

.gameOver {
	--bg-color: black;
	--font-family: 'Press Start 2P', cursive;
}
	.gameOverTexto {
		font-size: 5rem;
		color: var(--primary-color);
		text-transform: uppercase;
		margin-bottom: 5rem;
	}
	.comecarBtn {
		font-weight: bold;
		text-transform: uppercase;
		background-color: var(--primary-color);
		font-family: var(--font-family);
		padding: 0.8rem 5rem;
		cursor: pointer;
		border: 0;
		border-radius: 8px;
	}
	.acertouTitle {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	.acertouSub {
		font-size: 1.5rem;
		margin-bottom: 5rem;
	}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color);
	font-family: var(--font-family);
	color: var(--primary-color);
	min-height: 100vh;
	margin: 0;
	transition: 0.5s;
	letter-spacing: 2px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	text-align: center;
}

.titulo {
	font-size: 5rem;
	margin: 0;
	margin-bottom: 2rem;
}

.subtitulo {
	font-size: 3rem;
	margin-bottom: 2.5rem;
}	
	.valores {
		background-color: var(--bg-color);
		font-family: var(--font-family);
		border: none;
		width: 8rem;
		border-bottom: 2px dashed gray;
		font-size: 2rem;
		color: var(--primary-color);
		text-align: center;
		font-weight: bold;
	}

.paragrafo {
	font-size: 2rem;
}

.box {
	display: inline-block;
	border: 5px double var(--primary-color);
	border-radius: 5px;
	padding: 1rem 2rem;
	font-size: 4rem;
	margin: 1.5rem 0;
}

.icone {
	margin-left: 5px;
}

.fogos-container {
	position: absolute;
	display: flex;
	gap: 30%;
	justify-content: space-around;
	width: 100%;
	top: 35%;
	z-index: -1;
}

.fogos {
	width: 30vw;
}

.btn {
	padding: 0.8rem 1rem;
	font-family: var(--font-family);
	font-size: 1rem;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--primary-color);
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}
