@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
	--font-family: 'Odibee Sans', cursive;

	--bg-color: #0AA1DD;
	--primary-color: #E8F9FD;
}

.gameOver {
	--bg-color: black;
	--font-family: 'Press Start 2P', cursive;
}
	.gameOverTexto {
		font-size: 2rem;
		text-transform: uppercase;
		margin-bottom: 3rem;
	}
	.acertouTitle {
		font-size: 2rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
	.acertouSub {
		font-size: 1.3rem;
		margin-bottom: 3rem;
	}
	.btn {
		font-family: var(--font-family);
		border: none;
		border-radius: 8px;
		background-color: var(--primary-color);
		text-transform: uppercase;
		padding: 0.5rem 2.5rem;
		margin-bottom: 2rem;
		cursor: pointer;
	}
	.fogos-container {
		display: flex;
		width: 100%;
		position: absolute;
		top: 100%;
		justify-content: space-around;
		z-index: -1;
	}
	.fogos {
		width: 40%;
	}


body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color);
	font-family: var(--font-family);
	text-align: center;
	color: var(--primary-color);
	height: 100vh;
	transition: 0.5s;
}

.container {
	position: relative;
	width: 90vw;
}

.titulo {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.subtitulo {
	font-size: 2rem;
}

.valores {
	width: 6.5rem;
	background-color: var(--bg-color);
	border: none;
	border-bottom: 2px dashed var(--primary-color);
	font-size: 2rem;
	color: var(--primary-color);
	text-align: center;
	font-family: var(--font-family);
}

.mensagem {
	margin-top: 1rem;
}

.paragrafo {
	font-size: 2rem;
}

.box {
	display: inline-block;
	font-size: 3rem;
	border: 5px double var(--primary-color);
	border-radius: 8px;
	padding: 0.5rem;
	margin: 0.5rem 0;
}



@media(min-width: 768px) {
	.acertouSub {
		font-size: 1.5rem;
	}

	.titulo, .box {
		font-size: 4rem;
	}

	.subtitulo, .valores, .paragrafo {
		font-size: 2.5rem;
	}

	.gameOverTexto {
		font-size: 3.5rem;
	}

	.btn {
		padding: 0.6rem 4rem;
	}

	.fogos-container {
		justify-content: space-between;
		top: 70%;
	}

	.fogos {
		width: 30%;
	}
}



@media(min-width: 1024px) {
	.gameOverTexto {
		margin-bottom: 4rem;
		font-size: 4rem;
	}

	.btn {
		font-size: 1rem;
	}

	.titulo, .box {
		font-size: 5.5rem;
	}

	.box {
		border-width: 6px;
	}

	.subtitulo, .valores, .paragrafo, {
		font-size: 3rem;
	}

	.acertouTitle {
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}

	.acertouSub {
		font-size: 1.5rem;
	}

	.valores {
		border-width: 3px;
	}

	.fogos {
		width: 20%;
	}
}
